<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="uk.ac.ebi.fgpt" level="INFO"/>

    <root level="debug">
        <appender-ref ref="stdout"/>
    </root>
</configuration>