

#lodestar-description{
    margin-top: 20px;
    margin-bottom: 10px;
}

#limit{
    max-width: 30%;
}

#textarea{
    font-size: 10px;
    height:450px;
}

#example_queries {
    background:#f7f7f7;
    margin-left: 10px;
    padding-left: 10px;
    height:500px;
    /*overflow-y: auto;*/
}

#sparqlTextfield{
    font-size: 11px;
    height:500px;
}

#controlDiv{
    margin-bottom: 0px;

}

.CodeMirror {
    height: 370px;
}

.exampleCategorieslinks{
    font-size: 14px;
}

.list_exampleQueries{
    font-size: 12px;
    overflow-y: scroll;
    max-height: 250px;
    margin-left: 25px;
}

/************************************ History Tab************************************/
.historyTab{
    /*border:solid gray;*/
}

.historyEntry{
    background-color: #e8e8e8;
    border-color: 	#DCDCDC;
    border-style: solid;
    font-size: 10px;
    margin:5px 10px 10px 5px;
}

.descriptionInputBox{
    display:inline-block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color : #e8e8e8;;
    font-size: 10px;
    height:auto;
    width:20%;
}

.saveDescritionLink{
    margin-left: 6px;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: transparent;
}

.saveDescritionLinkHighlighted{
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: yellow;
}


.historyButton {
    margin-left: 10px;
}

.shareButton {
    float:right;
    margin-right:40px;
}

.savedOnPhrase{
    margin-left:100px;
    display:inline;
}

#deleteCompleteHistory{
    /*float:right;*/
    font-size: 12px;
}

/************************************ ************************************/


/************************************Just temporary css for the alert box ***/
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
/* The close button * /
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
/* When moving the mouse over the close button * /
.closebtn:hover {
    color: black;
}
/**************************************************************************** ** */


/* These parts would adjust Next, Previous and "X results per page"

a.next{
 margin-right: 150px;
}
a.prev {
    margin-left: 0px;
}
span.pagmes {}*/

