#example_queries {
    background:#f7f7f7;
    margin-left: 10px;
    padding-left: 10px;
}

#lodestar-description{
    margin-top: 20px;
    margin-bottom: 10px;
}

#limit{
    max-width: 30%;
}

.list_exampleQueries{
    margin-left: 25px;
}


/************************************ History Tab************************************/
.historyEntry{
    background-color: #e8e8e8;
    border-color: 	#DCDCDC;
    border-style: solid;
    font-size: 10px;
    margin:5px 10px 10px 5px;
}

.descriptionInputBox{
    display:inline-block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color : lightblue;
    font-size: 10px;
    height:auto;
    width:30%;
}

.historyButton {
    margin-left: 10px;
}

.shareButton {
    float:right;
    margin-right:40px;
}

.savedOnPhrase{
    margin-left:100px;
    display:inline;
}

/************************************ ************************************/


/************************************Just temporary css for the alert box *** */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
/**************************************************************************** ** */


/* These parts would adjust Next, Previous and "X results per page"

a.next{
 margin-right: 150px;
}
a.prev {
    margin-left: 0px;
}
span.pagmes {}*/

